@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins','sans-serif';
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
span{
    color: var(--main-color);
}
/**/
.animate-charcter{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3b99b5 0%,
    #8fa8aa 29%,
    #fafafa 67%,
    #3b99b5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 15rem;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
/**/
.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}
.home{
    background-size: 100% 100%;
    background-image:url("img/lagotiticaca.png");
}
.home h1{
    font-size:5rem;
    margin-bottom: 5rem;
    text-align: center;
    transition: .5s ease;
}
.home-content{
    display: flex;
    padding-top: 20rem;
    justify-content: center;
    align-items: center;
}
.heading2{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}
.contact2{
    margin-top: 20rem;
    text-align: center;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 1rem 2rem 0;
    transition: .5s ease;
}

.footer2{
    align-items: center;
    text-align: center;
}
.footer2 p{
    font-size: 1.6rem;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
@media (max-width:1366px){
    html{
        font-size: 80%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .heading{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .home-content{
        padding-top: 10rem;
    }
    .animate-charcter{
        font-size: 8rem;
    }
    .heading2{
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .contact2{
        margin-top: 10rem;
        text-align: center;
    }
    .footer2 p{
        font-size: 1rem;
    }

}

@media (max-width:990px){
    section{
        padding: 10rem 3% 2rem;
    }
    .heading{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .home-content{
        padding-top: 5rem;
    }
    .animate-charcter{
        font-size: 60rem;
    }
    .heading2{
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .contact2{
        margin-top: 10rem;
        text-align: center;
    }
    .footer2 p{
        font-size: 1rem;
    }
}

@media (max-width:800px){
    .home h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .heading{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .home-content{
        padding-top: 5rem;
    }
    .animate-charcter{
        font-size: 6rem;
    }
    .heading2{
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .contact2{
        margin-top: 3rem;
        text-align: center;
    }
    .footer2 p{
        font-size: 1rem;
    }
    .social-media a{
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 2rem 1rem 2rem 0;
        transition: .5s ease;
    }
}

@media (max-width:617px){
    .proyectos-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .home-img img{
        align-items: center;
        width: 70vw;
    }
    .about-img img{
        align-items: center;
        width: 70vw;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width:365px){
    .home-img img{
        align-items: center;
        width: 70vw;
    }
    .about-img img{
        align-items: center;
        width: 70vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
